<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Author Create</title>
</head>
<body class="d-flex flex-column" xmlns:th="http://www.w3.org/1999/xhtml">
<!-- Page Content-->
<section layout:fragment="body">
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder" th:text="${author.name}"></h1>
            </div>
        </div>
    </header>
    <!-- Page content-->
    <div class="container">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post-->
                <div class="card mb-4">
                    <a th:href="${author.photoUrl}"><img class="card-img-top" th:src="${author.photoUrl}" alt="Author Photo" /></a>
                    <div class="card-body">
                        <div class="small text-muted" th:text="${author.name}"></div>
                        <div th:if="${isAdmin}">
                            <a class="btn btn-primary" th:href="@{/authors/{authorId}/delete(authorId=${author.id})}">Delete</a>
                        </div>
                    </div>
                </div>
                <!-- Nested row for non-featured blog posts-->
                <div class="row">
                    <!-- Blog entries-->
                    <div class="col-lg-8">
                        <!-- Featured blog post-->
                        <div th:each="book :${books}" class="card mb-4">
                            <a th:href="${book.photoUrl}"><img class="card-img-top" th:src="${book.photoUrl}" alt="Book Cover" /></a>
                            <div class="card-body">
                                <div class="small text-muted" th:text="${book.title}"></div>
                                <a class="btn btn-primary" th:href="@{/books/{bookId}(bookId=${book.id})}">VIEW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>