<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org"
>
<head>
    <title>Book Create</title>
</head>
<body class="d-flex flex-column" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Page Content-->
    <section layout:fragment="body">
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder" th:text="${book.title}"></h1>
                </div>
            </div>
        </header>
        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="card mb-4">
                        <a th:href="${book.photoUrl}"><img class="card-img-top" th:src="${book.photoUrl}" alt="Book Cover" /></a>
                        <div class="card-body">
                            <div class="small text-muted" th:text="${book.isbn}"></div>
                            <h2 class="card-title">Description</h2>
                            <p class="card-text" th:text="${book.description}"></p>
                            <h2 class="card-title">Price</h2>
                            <p class="card-text" th:text="${book.price}"></p>
                            <h2 class="card-title">Publisher</h2>
                            <p class="card-text" th:text="${book.publisher}"></p>
                            <h2 class="card-title">Publication Date</h2>
                            <p class="card-text" th:text="${book.publicationDate}"></p>
                            <div class="d-flex gap-2" role="group">
                                <a sec:authorize="isAuthenticated()" class="btn btn-primary" th:href="@{/books/buy/{bookId}(bookId=${book.id})}">BUY</a>
                                <div th:if="${isAdmin}">
                                    <a class="btn btn-primary" th:href="@{/books/{bookId}/delete(bookId=${book.id})}">Delete</a>
                                    <a class="btn btn-primary" th:href="@{/authors/{bookId}/new(bookId=${book.id})}">Create Author</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
                    <div class="row">
                        <!-- Blog entries-->
                        <div class="col-lg-8">
                            <!-- Featured blog post-->
                            <div th:each="author :${book.authors}" class="card mb-4">
                                <a th:href="${author.photoUrl}"><img class="card-img-top" th:src="${author.photoUrl}" alt="Author Photo" /></a>
                                <div class="card-body">
                                    <div class="small text-muted" th:text="${author.name}"></div>
                                    <div class="d-flex gap-2" role="group">
                                        <a class="btn btn-primary" th:href="@{/authors/{authorId}(authorId=${author.id})}">VIEW</a>
                                        <div th:if="${isAdmin}">
                                            <a class="btn btn-primary" th:href="@{/authors/{authorId}/delete(authorId=${author.id})}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>